@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    body {
        margin: none;
        font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
        color: #363636;
    }

   
}